@import "tailwindcss";
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #3F356A;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


.logo {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  color: #D2CEBA;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
}


.nav a:hover {
  color: white;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #857BAB;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}
.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background: #D2CEBA;
}

.welcome-container h1 {
  font-size: 4rem;
  color: #3F356A;
}

.welcome-container p {
  font-size: 1.3rem;
  color: #444;
}

.see-more-btn {
  text-decoration: none;
  background: #3F356A;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  transition: 0.3s ease;
  font-weight: 600;
}

.see-more-btn:hover {
  background: #6F6596;
  transform: translateY(-2px);
}